<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu pefil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<main id="conteudo">
  <div id="titulo">
    <strong>Esse e meu primeiro projeto no ionic 7
    </strong>
  </div>

  <div id="imgp">
    <img src="assets/imagens/Perfil.jpg" alt="">
  </div>

  <div id="informacao">
    <p>Nome: Artur Almeida da Silva</p>
    <p>Código da turma: ADS0301N</p>
  </div>
</main>

</ion-content>
